<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.5">
  <display-name>GestionDesDemandesDeCartesConsulaires</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SaveServlet</display-name>
    <servlet-name>SaveServlet</servlet-name>
    <servlet-class>servlets.SaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveServlet</servlet-name>
    <url-pattern>/SaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemandeServlet</display-name>
    <servlet-name>DemandeServlet</servlet-name>
    <servlet-class>servlets.DemandeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemandeServlet</servlet-name>
    <url-pattern>/DemandeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveRenoServlet</display-name>
    <servlet-name>SaveRenoServlet</servlet-name>
    <servlet-class>servlets.SaveRenoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveRenoServlet</servlet-name>
    <url-pattern>/SaveRenoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDemandeServlet</display-name>
    <servlet-name>UpdateDemandeServlet</servlet-name>
    <servlet-class>servlets.UpdateDemandeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDemandeServlet</servlet-name>
    <url-pattern>/UpdateDemandeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDemandeServlet</display-name>
    <servlet-name>DeleteDemandeServlet</servlet-name>
    <servlet-class>servlets.DeleteDemandeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDemandeServlet</servlet-name>
    <url-pattern>/DeleteDemandeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>servlets.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>servlets.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDemande</display-name>
    <servlet-name>DeleteDemande</servlet-name>
    <servlet-class>servlets.DeleteDemande</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDemande</servlet-name>
    <url-pattern>/DeleteDemande</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRenoServlet</display-name>
    <servlet-name>DeleteRenoServlet</servlet-name>
    <servlet-class>servlets.DeleteRenoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRenoServlet</servlet-name>
    <url-pattern>/DeleteRenoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRenoServlet</display-name>
    <servlet-name>UpdateRenoServlet</servlet-name>
    <servlet-class>servlets.UpdateRenoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRenoServlet</servlet-name>
    <url-pattern>/UpdateRenoServlet</url-pattern>
  </servlet-mapping>
</web-app>